.container{
    .main-info{
        .prod-imges{
            @media (width < 40rem) {
                &{flex-direction: column-reverse;
                gap: 50px;}
            }

            .sub-imgs{
                @media (width < 40rem) {
                    &{gap: 50px;}
                }    
                img{
                    height: 93px;
                    width: max-content;
                    opacity: .5;
                    cursor: pointer;
                    transition: .3s;
                    &.active{
                        opacity: 1;
                        scale: 1.2;
                    }
                }
            }
            .main-img{
                flex-basis: 70%;
                img{
                    height: 516px;
                    width: max-content; 
                    transition: .3s;
                    @media (width < 40rem) {
                        &{height: 400px;}
                    }    
       
                }
            }
        }
        .prod-info{
            .prod-name{
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px; 
            }
            .price-div{
                .price{
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 48px; 
                    letter-spacing: 0.96px;
                }
                .discount{
                    color: #A0A0A0;
                    font-family: Inter;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; 
                    letter-spacing: 0.72px;
                    text-decoration: line-through;
                }
            }
            .color-div{
                p{
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; 
                }
                .colors{
                    span{
                        transition: .3s;
                        display: block;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: black;
                        opacity: .5;
                        scale: .9;
                        cursor: pointer;
                        &.active{
                            opacity: 1;
                            scale: 1.2;
                        }
                    }
                }
            }
            .memory-tabs{
                p{
                    transition: .3s;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px; 
                    border-radius: 8px;
                    padding: 16px 24px;
                    border: 1px solid #D5D5D5;  
                    color: #7d7a7a;  
                    cursor: pointer;
                    &.active{
                        color: #000;
                        font-weight: bold;
                        border: 1px solid var(--Main-Black, #000);    
                    }
                    &.out-stock{
                        opacity: .5;
                        pointer-events: none;
                        cursor: not-allowed;
                    }
                }
            }
            .tec-info{
                .tec-card{
                    padding: 16px 8px;
                    border-radius: 7px;
                    background: #F4F4F4;
                    .icon{
                        font-size: 24px;
                    }
                    div{
                        span:nth-child(1){
                            color: #A7A7A7;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }
                        span:nth-child(2){
                            color: #4E4E4E;
                            font-family: Inter;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 16px;
                        }
                    }
                }
            }
            .des{
                color: #6C6C6C;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; 
                letter-spacing: 0.42px;
            }
            .btns{
                button{
                    display: flex;
                    padding: 16px 56px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    flex: 1 0 0;
                    border-radius: 6px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 24px; 
                }
                .add-wishlist{
                    border: 1px solid var(--Main-Black, #000);
                    background: #FFF;
                }
                .add-tocart{
                    border-radius: 6px;
                    color: white;
                    background: var(--Main-Black, #000);
                }
            }
            .selling-info{
                div{
                    .icon{
                        border-radius: 11px;
                        background: #F6F6F6;
                        padding: 16px;
                    }
                    div{
                        span:nth-child(1){
                            color: #A7A7A7;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                        }
                        span:nth-child(2){
                            color: #4E4E4E;
                            font-family: Inter;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 16px;
                        }
                    }
                    
                }
            }
        }
    }
}

.details{
    background: #FAFAFA;
    .details-container{
        border-radius: 8px;
        background: #FFF;
        padding: 48px 40px;
        h1{
            color: #000;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px; 
            
        }
        p{
            color: #9D9D9D;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 
        }
        .deails-div{
            .title{
                color: #000;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
            }
            .detail{
                padding-bottom: 8px;
                align-items: flex-start;
                align-self: stretch;
                border-bottom: 0.5px solid #CDCDCD;
                span:nth-child(1),span:nth-child(2){
                    color: #000;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                }
            }
        }
    }
}
.view-more{
    display: flex;
    padding: 12px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #545454;
    width: fit-content;
    margin: auto;
    &:hover{
        background-color: #000;
    }
}


.reviews-sec{
    h1{
        
    }
    .ovarall-rating{
        .rating{
            border-radius: 25px;
            background: #FAFAFA;
            p{
                color: var(--Main-Black, #000);
                text-align: center;
                font-family: Inter;
                font-size: 56px;
                font-style: normal;
                font-weight: 500;
                line-height: 56px; /* 100% */
            }
            span{
                color: #A7A7A7;
                text-align: center;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px; /* 106.667% */
            }
            .stars{
                i{
    
                }
            }           
        }
        .Schedules{
            .Schedule{
                span:nth-child(1){
                    color: var(--Main-Black, #000);
                    width: 233px;
                    font-family: Inter;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px; /* 88.889% */
                }
                span:nth-child(3){
                    opacity: .5;
                    color: var(--Main-Black, #000);
                    text-align: right;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 16px; /* 100% */                }
                div{
                    width: 800px;
                    span:nth-child(1){          
                        width: 100%;              
                        height: 3px;
                        background-color: #9D9D9D;
                        .progress{
                            background-color: orange;
                        }
                    }
                }
                span:nth-child(3){
    
                }
            }
        }    
    }
}

.testimonial{
    border-radius: 10px;
    background: #FAFAFA;
    .testimonials-info{
        .user-info{
            p:nth-child(1){
                color: var(--Main-Black, #000);
                font-family: Inter;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 141.176% */
            }
            p:nth-child(2){
                color: var(--Main-Black, #000);
                text-align: right;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px; /* 114.286% */
                opacity: .2;
            }
        }
        .user-review{
            color: #7E7E7E;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 160% */
        }
    }
}