@media (width < 40rem) {
  .container .main-info .prod-imges {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
@media (width < 40rem) {
  .container .main-info .prod-imges .sub-imgs {
    gap: 50px;
  }
}
.container .main-info .prod-imges .sub-imgs img {
  height: 93px;
  width: -moz-max-content;
  width: max-content;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}
.container .main-info .prod-imges .sub-imgs img.active {
  opacity: 1;
  scale: 1.2;
}
.container .main-info .prod-imges .main-img {
  flex-basis: 70%;
}
.container .main-info .prod-imges .main-img img {
  height: 516px;
  width: -moz-max-content;
  width: max-content;
  transition: 0.3s;
}
@media (width < 40rem) {
  .container .main-info .prod-imges .main-img img {
    height: 400px;
  }
}
.container .main-info .prod-info .prod-name {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
.container .main-info .prod-info .price-div .price {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.96px;
}
.container .main-info .prod-info .price-div .discount {
  color: #A0A0A0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.72px;
  text-decoration: line-through;
}
.container .main-info .prod-info .color-div p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container .main-info .prod-info .color-div .colors span {
  transition: 0.3s;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
  scale: 0.9;
  cursor: pointer;
}
.container .main-info .prod-info .color-div .colors span.active {
  opacity: 1;
  scale: 1.2;
}
.container .main-info .prod-info .memory-tabs p {
  transition: 0.3s;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 8px;
  padding: 16px 24px;
  border: 1px solid #D5D5D5;
  color: #7d7a7a;
  cursor: pointer;
}
.container .main-info .prod-info .memory-tabs p.active {
  color: #000;
  font-weight: bold;
  border: 1px solid var(--Main-Black, #000);
}
.container .main-info .prod-info .memory-tabs p.out-stock {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.container .main-info .prod-info .tec-info .tec-card {
  padding: 16px 8px;
  border-radius: 7px;
  background: #F4F4F4;
}
.container .main-info .prod-info .tec-info .tec-card .icon {
  font-size: 24px;
}
.container .main-info .prod-info .tec-info .tec-card div span:nth-child(1) {
  color: #A7A7A7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.container .main-info .prod-info .tec-info .tec-card div span:nth-child(2) {
  color: #4E4E4E;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.container .main-info .prod-info .des {
  color: #6C6C6C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.container .main-info .prod-info .btns button {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}
.container .main-info .prod-info .btns .add-wishlist {
  border: 1px solid var(--Main-Black, #000);
  background: #FFF;
}
.container .main-info .prod-info .btns .add-tocart {
  border-radius: 6px;
  color: white;
  background: var(--Main-Black, #000);
}
.container .main-info .prod-info .selling-info div .icon {
  border-radius: 11px;
  background: #F6F6F6;
  padding: 16px;
}
.container .main-info .prod-info .selling-info div div span:nth-child(1) {
  color: #A7A7A7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.container .main-info .prod-info .selling-info div div span:nth-child(2) {
  color: #4E4E4E;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.details {
  background: #FAFAFA;
}
.details .details-container {
  border-radius: 8px;
  background: #FFF;
}
.details .details-container h1 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.details .details-container p {
  color: #9D9D9D;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.details .details-container .deails-div .title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.details .details-container .deails-div .detail {
  padding-bottom: 8px;
  align-items: flex-end;
  align-self: stretch;
  border-bottom: 0.5px solid #CDCDCD;
}
.details .details-container .deails-div .detail span:nth-child(1), .details .details-container .deails-div .detail span:nth-child(2) {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.details .details-container button {
  display: flex;
  padding: 12px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #545454;
  background: #FFF;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}/*# sourceMappingURL=ProductDetailsPage.css.map */