.cart .divder .ordered-prods {
  flex-basis: 54%;
}
.cart .divder .ordered-prods h1 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
}
.cart .divder .ordered-prods .order:not(:last-child) {
  border-bottom: 0.5px solid #E0E0E0;
}
.cart .divder .ordered-prods .order .order-info {
  flex: 1;
}
.cart .divder .ordered-prods .order .order-info .title, .cart .divder .ordered-prods .order .order-info .sub-title, .cart .divder .ordered-prods .order .order-info .id {
  color: var(--Main-Black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  width: 189px;
}
.cart .divder .ordered-prods .order .order-info .id {
  font-size: 14px;
}
.cart .divder .ordered-prods .order .amount .num {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 0.5px solid #D9D9D9;
}
.cart .divder .ordered-prods .order .amount .minus, .cart .divder .ordered-prods .order .amount .plus {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 4px;
  background: #F2F2F2;
  border: 0.5px solid #D9D9D9;
}
.cart .divder .ordered-prods .order .amount .price {
  color: var(--Main-Black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
  letter-spacing: 0.6px;
  width: 106px;
}
.cart .divder .order-sum {
  flex: 1;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
}
.cart .divder .order-sum .checkout {
  display: flex;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  background: var(--Main-Black, #000);
  color: white;
  width: 100%;
  margin-top: 48px;
}
.cart .divder .order-sum h1 {
  color: #111;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 80% */
}
.cart .divder .order-sum .dis-prom .discount-code p, .cart .divder .order-sum .dis-prom .bonus-card-number p {
  color: #545454;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}
.cart .divder .order-sum .dis-prom .discount-code input, .cart .divder .order-sum .dis-prom .bonus-card-number input {
  display: flex;
  padding: 16px 0px 16px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #979797;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.07px;
  border-radius: 7px;
  border: 0.5px solid #9F9F9F;
  background: var(--Main-White, #FFF);
  width: 100%;
}
.cart .divder .order-sum .dis-prom .discount-code button, .cart .divder .order-sum .dis-prom .bonus-card-number button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--Main-Black, #000);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  display: flex;
  width: 76.455px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--Main-Black, #000);
}
.cart .divder .order-sum .order-calc div p, .cart .divder .order-sum .order-calc div span {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.48px;
}
.cart .divder .order-sum .order-calc div p {
  color: #545454;
}
.cart .divder .order-sum .order-calc div:nth-child(1) p, .cart .divder .order-sum .order-calc div:last-child p {
  color: #000;
}/*# sourceMappingURL=ShoppingCart.css.map */